h1{
    text-align: center;
    font-weight: bold;
    text-shadow: 2px 2px  darkgray;
}
h2{
    text-align: center;
}

.projectName{
    font-size: medium;
    font-weight: 1000;
}

.col-sm-4{
    text-align: center;
}