<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/logout">Client Project Manager</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/logout">Log-Out</a></li>
        <li><a href="/clients">Clients</a></li>
      </ul>
    </div>
  </nav>
  <div>
    <h1>Client Project Manager</h1>
    <hr>
    <h2>Are you sure you want to log out?</h2>
    <div class="container">
      <div clas="row">
          <div class="col-sm-4">
          </div>
          <div class="col-sm-4">
              <button (click)="logout()">Log Out</button>
          </div>
          <div class="col-sm-4">
          </div>
      </div>
  </div>