<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="">Client Project Manager</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="">Home</a></li>
        <li><a href="/login">Log-In</a></li>
      </ul>
    </div>
  </nav>

    <div>
        <h1>Client Project Manager</h1>
    </div>
    <hr>

<div class="container">
    <div clas="row">
        <div class="col-sm-6">
            <h2>Summary</h2>
            <p>
                This is the client project manager developed by Sebastian Grant. This website
                 will be used to keep track of future projects and from whom they came.
                  You can use this site to add new clients, update current client agreements
                   or names, and remove clients. Each client can have multiple projects, each
                    with their own names and descriptions. You can add, remove, or update
                     these projects as you wish.
            </p>
            <p>
                The database of clients and projects is on AWS, where it maintains the current list.
                If you delete a client, all of their projects are deleted with them.
            </p>
            <p>
                Sebastian Grant chose to develop this website as a way of keeping up with the current
                projects needing to be completed. It may be used for that purpose in the coming months,
                 as the site is updated to reflect future needs.
            </p>
        </div>
        <div class="col-sm-6">
            <img src="..\assets\images\client management picture.jpg" width="100%">
        </div>
    </div>
</div>